export RABBITMQ_CONNECTION_URL=amqp://guest:guest@rabbitmq
export PGUSER=postgres
export PGPASSWORD=postgres
export PGDATABASE=railway_ui_dev
export PGHOST=db
export PGPORT=5432
export DEPLOY_ENV=dev
