<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RailwayUi</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link "Railway IPC UI 🚂", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link "published messages", to: Routes.published_message_path(@conn, :index), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "consumed messages", to: Routes.consumed_message_path(@conn, :index), class: "nav-link" %>
            </li>
          </ul>
        </nav>
    </header>
    <main role="main" class="container">
      <%= Enum.map(get_flash(@conn), fn {flash_key, flash_message} -> %>
        <%= if flash_key == "error" do %>
          <p class="alert alert-dismissible fade show alert-danger"><%= flash_message %>
        <% else %>
          <p class="alert alert-dismissible fade show alert-success"><%= flash_message %>
        <% end %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </p>
     <% end) %>
     <div class="container pt-5">
       <%= render @view_module, @view_template, assigns %>
     </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
